{% if data_list %}
    <ul>
    {% for d in data_list %}
        <li>
            {{ d.field_one }}: {{ d.field_two }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No datas are available.</p>
{% endif %}